html,body{
	height:100%;
}
body{
	background:linear-gradient(darkblue, white);
	font-family: arial;
}
h1{
	color:#ABABAB;
	text-align:center;

}
.caja{
	margin:0 auto;
	text-align:center;
	width:40%;
}

.caja img{

	display:block;
	margin:0 auto;
	transition:all linear 1s;
	width:60%;
}
.caja img:hover{
	transform:scale(1.2,1.2) rotate(15deg);
}